@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Open+Sans:400italic,400,300,700);

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
code, tt {
  font-family: 'Ubuntu Mono', monospace;
}
html {
  background-color: #f2f2f2;
  font-size: 82%;
}
body {
  margin: 0;
  padding: 0;
}
#banner-inner {
  position: relative;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
#banner h2 {
  font-size: 180%;
  padding-right: 90px;
}
#banner h2 a {
  color: #999;
  text-decoration: none;
}
#banner p {
  font-size: 90%;
  position: absolute;
  right: 0;
}
#social {
  float: right;
  width: 300px;
  text-align: right;
}
li {
  list-style: none;
}
#content {
  background-color: white;
}
#content p {
  line-height: 2em;
  margin: 1.2em 0;
}
#content-inner {
  width: 700px;
  margin: auto;
  padding: 40px 0 40px 0;
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {

}
#content a {
  color: #25f;
  font-weight: 400;
  text-decoration: none;
}
#content a:visited {
  color: #20c;
}
.tags {
  color: #888;
}
.photos li {
  float: left;
}
.photos:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
footer {
  width: 700px;
  margin: auto;
  font-size: 80%;
  text-align: right;
  color: #888;
}
footer a {
  color: #333;
  text-decoration: none;
  font-weight: 400;
  border: none;
}