---
layout: default
---

{% if paginator.page == 1 %}
<section class="header">
  <div id="animation clearfix">
    <div class="avatar">
      <a href="/about.html">
        <img class="avatar" alt="picture of Carlos Rodriguez" src="{{site.url}}/files/helvetica.jpg">
      </a>
    </div>
    <div class="author">
      <h2><i class="far fa-comment-dots"></i> Hi, I'm {{ site.author.name }}.</h2>
      <p>
        I build <i class="fas fa-wrench"></i> software <i class="fas fa-globe"></i> at home <i class="fab fa-fort-awesome-alt"></i> in Watsonville, California, United States <i class="fas fa-sun"></i>.<br>
        I'm a Creator <i class="fas fa-paint-brush"></i>, a Hacker <i class="fas fa-terminal"></i>, an Open Source Giver <i class="fas fa-parachute-box"></i>, an Entrepreneur <i class="fas fa-project-diagram"></i>, a Human-rights and Privacy Advocate <i class="fas fa-hand-holding-heart"></i>, an Audiophile and Musician <i class="fas fa-microphone-alt"></i>, an Amateur Historian/Private Investigator <i class="fas fa-user-secret"></i>, and an overall Mad Scientist <i class="fas fa-flask"></i> for peace.</p>
        <p>I believe the next 100 years will be a time of great struggle, and I am working for a transparent and harmonious future, where software and scientific tools are free, academia and education is non-biased, human rights are well-documented, universal and guaranteed, and all types of descrimination and oppression are erased and completely forgotton. I'm humbled to be a small part of one of the very few intelligent civilizations in the Milky Way galaxy.
      </p>
      <p>&ldquo;I stepped inside and went straight for the canisters&rdquo; &mdash; <a href="/origin.html" target="_blank">Ferdinand Brandon</a>, July 11<sup>th</sup> 2006
      </p>
    </div>
  </div>
</section>

<hr>

<div class="projects clearfix">
  <a href="https://bot18.net/" target="_blank">
    <span class="inner">
      <span class="thumb"><img src="/files/bot18_thumb.png"></span>
      <h3>Bot18</h3>
      <span class="description">crypto trading bot</span>
    </span>
  </a>
  <a href="/salty.html">
    <span class="inner">
      <span class="thumb"><img src="/files/salty_thumb.png"></span>
      <h3>Salty</h3>
      <span class="description">next-gen pubkey crypto</span>
    </span>
  </a>

  <a href="/motley.html">
    <span class="inner">
      <span class="thumb"><img src="/files/motley_thumb.png"></span>
      <h3>Motley</h3>
      <span class="description">Node.js framework</span>
    </span>
  </a>
  <a href="https://open.spotify.com/album/1KiNBeeXgQAgYrnZVcQ6Xb?si=jKQzFtaOTemL7F2D3MTEHA" target="_blank">
    <span class="inner">
      <span class="thumb"><img src="/files/music_thumb.png"></span>
      <h3>Music</h3>
      <span class="description">by Carlos Rodriguez</span>
    </span>
  </a>
</div>

<hr>
{% endif %}


<div class="posts">
  {% for post in paginator.posts %}
  {% assign content = post.content %}
  {% include post.html %}
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{site.url}}{{paginator.next_page_path}}" class="older">&larr; Older</a>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/" class="newer">Newer &rarr;</a>
    {% else %}
      <a href="{{site.url}}{{paginator.previous_page_path}}" class="newer">Newer &rarr;</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
  <div style="clear:right"></div>
  {% endif %}
</div>
