---
layout: default
---

<div class="projects">
  <div class="row">
    <a href="/salty.html">
      <div class="thumb"><img src="/files/salty_thumb.png"></div>
      <h3>Salty</h3>
      <div class="description">next-gen pubkey crypto</div>
    </a>
    <a href="/motley.html">
      <div class="thumb"><img src="/files/motley_thumb.png"></div>
      <h3>Motley</h3>
      <div class="description">Node.js framework</div>
    </a>
  </div>
  <div class="row">
    <a href="/zenbot.html">
      <div class="thumb"><img src="/files/zenbot_thumb.png"></div>
      <h3>zenbot</h3>
      <div class="description">bitcoin trading bot</div>
    </a>
    <a href="/music.html">
      <div class="thumb"><img src="/files/motley_thumb.png"></div>
      <h3>Music</h3>
      <div class="description">by Carlos Rodriguez</div>
    </a>
  </div>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  {% assign content = post.content %}
  {% include post.html %}
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}/" class="older">&larr; Older</a>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/" class="newer">Newer &rarr;</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}/" class="newer">Newer &rarr;</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
  <div style="clear:right"></div>
  {% endif %}
</div>
