---
layout: default
title: digital shreds of Carlos Rodriguez
---

<h1>music</h1>

<ul class="posts">
  {% for post in site.categories.music %}
  <li><span>{{ post.date || date_to_string}}</span> &mdash; <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h1>code</h1>

<ul class="posts">
  {% for post in site.categories.code %}
  <li><span>{{ post.date || date_to_string}}</span> &mdash; <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h1>photos</h1>

<ul class="posts">
  {% for post in site.categories.photos %}
  <li><span>{{ post.date || date_to_string}}</span> &mdash; <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h1>misc</h1>

<ul class="posts">
  {% for post in site.categories.photos %}
  <li><span>{{ post.date || date_to_string}}</span> &mdash; <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h1>meta</h1>

<ul class="posts">
  <li><a href="{{ site.baseurl }}README.html">about {{ site.title }}</a></li>
</ul>
