html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

::selection {
  background: #fdf485;
}

body, input, textarea {
  color: #666666;
  font-size: 18px;
  line-height: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  line-height: 1.2em;
  color: #444444;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

hr {
  background-color: #cccccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.625em;
}

p {
  margin: 0 0 20px 0;
}

ul, ol {
  margin: 0 0 20px 0;
}

ol ol {
  list-style: upper-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: lower-alpha;
}

ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
}

dl {
  margin: 0 1.625em;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1.625em;
}

strong {
  font-weight: 500;
}

cite, em, i {
  font-style: italic;
}

blockquote {
  font-style: italic;
  font-weight: normal;
  margin: 0 3em;
}

blockquote em, blockquote i, blockquote cite {
  font-style: normal;
}

blockquote cite {
  color: #666666;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

pre {
  background: #555555;
  font: 13px "PT Mono", monospace;
  color: #eeffff;
  line-height: 1.5;
  margin-bottom: 1.625em;
  overflow: auto;
  padding: 0.75em 1.625em;
}

code, kbd {
  font: 14px "PT Mono", monospace;
}

a {
  color: #00bfa8;
  text-decoration: none;
  -webkit-transition: color 0.6s, border 0.6s;
  -moz-transition: color 0.6s, border 0.6s;
  -o-transition: color 0.6s, border 0.6s;
  transition: color 0.6s, border 0.6s;
}
a:hover {
  color: #00594e;
  -webkit-transition: color 0, border 0;
  -moz-transition: color 0, border 0;
  -o-transition: color 0, border 0;
  transition: color 0, border 0;
}

.entry-content ul li {
  list-style: square;
  list-style-position: inside;
}
.entry-content h2:first-child,
.entry-content h3:first-child {
  margin-top: 0;
}

.entry-header .entry-title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 500;
}
.entry-header .entry-title .entry-title-link {
  color: #444444;
}
.entry-header .entry-title .entry-title-link:hover {
  color: #00bfa8;
}

@media (max-width: 586px) {
  body, input, textarea {
    font-size: 15px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 17px;
  }
  code, kbd {
    font-size: 11px;
  }
}

input,
textarea,
select,
button,
.button {
  margin: 0;
  background: white;
  -webkit-box-shadow: 0 1px 0 white, inset 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 0 white, inset 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 white, inset 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 2px 0.4em;
  color: #555555;
}

input:hover,
textarea:hover,
select:hover,
button:hover,
.button:hover {
  border-color: #a2a2a2;
}

input:focus,
textarea:focus,
select:focus,
button:focus,
.button:focus {
  outline: none;
  border-color: #fdf485;
  -webkit-box-shadow: 0 0 5px rgba(255, 190, 70, 0.75);
  -moz-box-shadow: 0 0 5px rgba(255, 190, 70, 0.75);
  box-shadow: 0 0 5px rgba(255, 190, 70, 0.75);
}

input.error,
textarea.error,
select.error,
input[type="text"].invalid {
  outline: none;
  border-color: #ff4040;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 4px rgba(196, 50, 63, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 4px rgba(196, 50, 63, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 4px rgba(196, 50, 63, 0.4);
}

input[type="button"],
input[type="submit"],
button,
a.button {
  text-transform: uppercase;
  text-shadow: 0 1px 0 white;
  padding: 0.5em 1em;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #bcbcbc;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(85%, #e2e2e2), color-stop(100%, #d2d2d2));
  background: -webkit-linear-gradient(#ffffff, #e2e2e2 85%, #d2d2d2);
  background: -moz-linear-gradient(#ffffff, #e2e2e2 85%, #d2d2d2);
  background: -o-linear-gradient(#ffffff, #e2e2e2 85%, #d2d2d2);
  background: linear-gradient(#ffffff, #e2e2e2 85%, #d2d2d2);
  -webkit-box-shadow: inset 0 0 3px white, 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 3px white, 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px white, 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover,
a.button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(85%, #ebebeb), color-stop(100%, #dbdbdb));
  background: -webkit-linear-gradient(#ffffff, #ebebeb 85%, #dbdbdb);
  background: -moz-linear-gradient(#ffffff, #ebebeb 85%, #dbdbdb);
  background: -o-linear-gradient(#ffffff, #ebebeb 85%, #dbdbdb);
  background: linear-gradient(#ffffff, #ebebeb 85%, #dbdbdb);
  border: 1px solid #a2a2a2;
  color: #555555;
}

input[type="button"]:active,
input[type="submit"]:active,
button:active,
a.button:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(#eeeeee, #cccccc);
  background: -moz-linear-gradient(#eeeeee, #cccccc);
  background: -o-linear-gradient(#eeeeee, #cccccc);
  background: linear-gradient(#eeeeee, #cccccc);
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom-color: #d5d5d5;
}

input[type="button"]:focus,
input[type="submit"]:focus,
button:focus,
a.button:focus {
  outline: none;
  border-color: #fdf485;
  -webkit-box-shadow: 0 0 5px rgba(255, 190, 70, 0.75);
  -moz-box-shadow: 0 0 5px rgba(255, 190, 70, 0.75);
  box-shadow: 0 0 5px rgba(255, 190, 70, 0.75);
}

input[type="button"].primary,
input[type="submit"].primary,
button.primary,
select.primary,
.button.primary {
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #69c3cb), color-stop(96%, #0d9eab), color-stop(100%, #008f9e));
  background-image: -webkit-linear-gradient(#69c3cb, #0d9eab 96%, #008f9e);
  background-image: -moz-linear-gradient(#69c3cb, #0d9eab 96%, #008f9e);
  background-image: -o-linear-gradient(#69c3cb, #0d9eab 96%, #008f9e);
  background-image: linear-gradient(#69c3cb, #0d9eab 96%, #008f9e);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 2px 0 rgba(120, 200, 200, 0.4);
}

input[type="button"],
input[type="submit"],
button,
.button {
  cursor: pointer;
  width: auto;
}

.button {
  float: left;
  margin-bottom: 1em;
}

input[type="checkbox"],
input[type="radio"] {
  width: 1em;
}

select {
  cursor: pointer;
  margin-right: 20px;
}

label,
.label {
  font-weight: 500;
  color: #b3b3b3;
  line-height: 1.4em;
}

div.field,
div.actions {
  margin-bottom: 1.5em;
}

::-webkit-input-placeholder,
::-moz-placeholder {
  color: #b3b3b3;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.unBorderBox {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

body {
  background: white;
  padding: 40px;
}

.main-column {
  max-width: 1000px;
  margin-left: 230px;
}

.main-column .header {
  margin-bottom: 80px;
}

.main-column .section {
  padding-bottom: 80px;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 80px;
}

.blog-index {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content p, .entry-content ul, .entry-content ol {
  max-width: 650px;
}

.sidebar {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 150px;
}

@media (max-width: 768px) {
  .main-column {
    margin-left: 0;
  }
  .sidebar {
    position: static;
    top: 0;
    left: 0;
  }
}
@media (max-width: 586px) {
  body {
    padding: 20px;
  }
  .main-column .header {
    margin-bottom: 40px;
  }
  .main-column .section {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}

.header h2 {
  color: #ff8000;
}

.header h4 {
  color: #b3b3b3;
}

.header a {
  color: #666666;
}

.header a:hover {
  color: black;
}

.sidebar {
  font-size: 16px;
  text-align: right;
}

img.avatar {
  display: block;
  width: 110px;
  height: 110px;
  float: left;
  margin-right: 40px;
}

@media (max-width: 768px) {
  .read-more-section {
    display: none;
  }
  .sidebar {
    font-size: 16px;
    text-align: left;
  }
}

.meta {
  color: #b3b3b3;
  font-weight: 500;
  margin-bottom: 20px;
}

.image-wrapper-wide {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-wrapper {
  margin: 20px 0;
  max-width: 650px;
}

img.scale {
  width: 100%;
}

a img.scale:active {
  -webkit-transform: scale(0.98, 0.98);
  -moz-transform: scale(0.98, 0.98);
  -ms-transform: scale(0.98, 0.98);
  -o-transform: scale(0.98, 0.98);
  transform: scale(0.98, 0.98);
}

.page .entry-title {
  text-align: center;
}
