html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body, input, textarea {
  color: #333;
  font-size: 18px;
  line-height: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  line-height: 1.2em;
  color: black;
  font-weight: 900;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

hr {
  background-color: #cccccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.625em;
}

p {
  margin: 0 0 20px 0;
}

ul, ol {
  margin: 0 0 20px 0;
}

ol ol {
  list-style: upper-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: lower-alpha;
}

ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
}

dl {
  margin: 0 1.625em;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1.625em;
}

strong {
  font-weight: 700;
}

cite, em, i {
  font-style: italic;
}

blockquote {
  font-style: italic;
  font-weight: normal;
  margin: 0 3em;
}

blockquote em, blockquote i, blockquote cite {
  font-style: normal;
}

blockquote cite {
  color: #666666;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

code, kbd {
  font: 14px "PT Mono", monospace;
  padding: 2px 4px;
  background-color: #a7f073;
  color: #444;
  border-radius: 5px;
  line-height: 1.5em;
}

div.code {
  font: 14px "PT Mono", monospace;
  color: #444;
  line-height: 1.5em;
}

pre {
  margin: 2em 0;
  padding: 2px 4px;
  background-color: #a7f073;
  border-radius: 5px;
  overflow: auto;
}

.markdown-body {
  padding: 1em !important;
  font-family: "Source Sans Pro", sans-serif !important;
}

.gist .gist-file .gist-data {
  font-size: 0.7em !important;
  line-height: 1.5em !important;
}

.gist .gist-file .gist-data pre, .gist-syntax pre {
  margin: inherit;
  padding: inherit;
  background-color: inherit;
  border-radius: inherit;
  overflow: inherit;
}

a {
  text-decoration: none;
  color: rgba(3, 139, 255, 1);
}
a:hover {
  color: black;
}

.entry-content ul li {
  list-style: square;
  list-style-position: inside;
}
.entry-content h2:first-child,
.entry-content h3:first-child {
  margin-top: 0;
}

.entry-header .entry-title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 700;
}
.entry-header .entry-title .entry-title-link {
  color: #444444;
}
.entry-header .entry-title .entry-title-link:hover {
  color: black;
}

@media (max-width: 586px) {
  body, input, textarea {
    font-size: 15px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 17px;
  }
  code, kbd {
    font-size: 11px;
  }
}

body {
  background: white;
  padding: 0;
}

.main-column {
  max-width: 1000px;
  margin-left: 300px;
}

.main-column .header {
  margin-bottom: 80px;
}

.main-column .section {
  padding-bottom: 80px;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 80px;
}

.blog-index {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content p, .entry-content ul, .entry-content ol {
  max-width: 650px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
}

@media (max-width: 768px) {
  .main-column {
    margin-left: 0;
  }
  .sidebar {
    position: static;
    top: 0;
    left: 0;
  }
}
@media (max-width: 586px) {
  body {
    padding: 20px;
  }
  .main-column .header {
    margin-bottom: 40px;
  }
  .main-column .section {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}

.header a:hover {
  color: black;
}

.sidebar {
  font-size: 16px;
  text-align: right;
  white-space: nowrap;
}

.sidebar h3, .sidebar h4 {
  font-size: 1.2em;
  margin: 0.5em 0;
}

img.avatar {
  display: block;
  width: 110px;
  height: 110px;
  float: left;
  margin: 0 40px 20px 0;
}

@media (max-width: 768px) {
  .read-more-section {
    display: none;
  }
  .sidebar {
    font-size: 16px;
    text-align: left;
  }
  img.avatar {
    margin-right: 20px;
  }
  .entry-content img {
    width: 100%;
  }
  .entry-content img:active {
    -webkit-transform: scale(0.98, 0.98);
    -moz-transform: scale(0.98, 0.98);
    -ms-transform: scale(0.98, 0.98);
    -o-transform: scale(0.98, 0.98);
    transform: scale(0.98, 0.98);
  }
}

.entry-content img {
  max-width: 100%;
}
.entry-content img:active {
  -webkit-transform: scale(0.98, 0.98);
  -moz-transform: scale(0.98, 0.98);
  -ms-transform: scale(0.98, 0.98);
  -o-transform: scale(0.98, 0.98);
  transform: scale(0.98, 0.98);
}

.entry-content iframe, .entry-content .video {
  min-width: 100%;
  min-height: 500px;
}

.meta {
  color: #b3b3b3;
  font-weight: 500;
  margin-bottom: 20px;
}

.image-wrapper-wide {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-wrapper {
  margin: 20px 0;
  max-width: 650px;
}

.page .entry-title {
  text-align: center;
}

.newer {
  float: right;
}

audio {
  width: 100%;
}

.line-numbers {
  padding-right: 10px;
}

.entry-content ul {
  list-style: normal;
  padding-left: 2em;
}

.projects h2 {
  text-align: center;
}

.projects a {
  display: inline-block;
  float: left;
  width: 50%;
  text-decoration: none;
  color: black;
  border-bottom: 10px solid #fff;
}

.projects a:hover {
  border-bottom: 10px solid #ccc;
}

.projects .inner {
  padding-right: 20px;
  padding-bottom: 10px;
}

.projects .row {
  margin-bottom: 20px;
  display: block;
}

.projects .row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.projects h3 {
  padding-top: 20px;
  margin-bottom: 0;
  font-size: 1.6em;
}

.projects .thumb {
  width: 100px;
  margin-right: 30px;
  float: left;
}

.projects .description {
  color: #888;
}

.contact {
  font-family: monospace;
  font-size: 0.6em;
  letter-spacing: 0;
  line-height: 0.8em;
}

.contact a {
  color: #555;
}
