<section class="header">
  <img class="avatar" alt="picture of Carlos Rodriguez" src="{{site.url}}/files/helvetica.jpg">
  <div class="author">
    <h2><i class="fa fa-commenting-o"></i> Hi, I'm {{ site.author.name }}.</h2>
    <p>
      I build <i class="fa fa-wrench"></i> websites <i class="fa fa-globe"></i> at <a href="http://www.terraeclipse.com/">Terra Eclipse</a> in Santa Cruz, CA. <i class="fa fa-sun-o"></i><br>
      I'm a hacker <i class="fa fa-terminal"></i>, audiophile <i class="fa fa-microphone"></i>, and enjoyer of all things technical <i class="fa fa-flask"></i>.
    </p>
  </div>
</section>
<hr>

<div class="projects">
  <div class="row">
    <a href="/zenbot.html">
      <div class="inner">
        <div class="thumb"><img src="/files/zenbot_thumb.png"></div>
        <h3>zenbot <i class="fa fa-line-chart"></i></h3>
        <div class="description">Bitcoin <i class="fa fa-btc"></i> trading <i class="fa fa-exchange"></i> bot</div>
      </div>
    </a>
    <a href="/salty.html">
      <div class="inner">
        <div class="thumb"><img src="/files/salty_thumb.png"></div>
        <h3>Salty <i class="fa fa-lock"></i></h3>
        <div class="description">next-gen <i class="fa fa-fast-forward"></i> pubkey crypto <i class="fa fa-user-secret"></i></div>
      </div>
    </a>
  </div>
  <div class="row">
    <a href="/motley.html">
      <div class="inner">
        <div class="thumb"><img src="/files/motley_thumb.png"></div>
        <h3>Motley <i class="fa fa-laptop"></i></h3>
        <div class="description">Node.js <i class="fa fa-rocket"></i> framework</div>
      </div>
    </a>
    <a href="/music.html">
      <div class="inner">
        <div class="thumb"><img src="/files/music_thumb.png"></div>
        <h3>Music <i class="fa fa-music"></i></h3>
        <div class="description">by Carlos Rodriguez</div>
      </div>
    </a>
  </div>
</div>

<hr>
