<section class="header">
  <img class="avatar" alt="picture of Carlos Rodriguez" src="{{site.url}}/files/helvetica.jpg">
  <div class="author">
    <h2>Hi, I'm {{ site.author.name }}.</h2>
    <p>
      I build websites at <a href="http://www.terraeclipse.com/">Terra Eclipse</a> in Santa Cruz, CA.<br>
      I'm a hacker, audiophile, and enjoyer of all things technical.
    </p>
  </div>
</section>
<hr>

<div class="projects">
  <div class="row">
    <a href="/zenbot.html">
      <div class="inner">
        <div class="thumb"><img src="/files/zenbot_thumb.png"></div>
        <h3>zenbot</h3>
        <div class="description">Bitcoin trading bot</div>
      </div>
    </a>
    <a href="/salty.html">
      <div class="inner">
        <div class="thumb"><img src="/files/salty_thumb.png"></div>
        <h3>Salty</h3>
        <div class="description">next-gen pubkey crypto</div>
      </div>
    </a>
  </div>
  <div class="row">
    <a href="/motley.html">
      <div class="inner">
        <div class="thumb"><img src="/files/motley_thumb.png"></div>
        <h3>Motley</h3>
        <div class="description">Node.js framework</div>
      </div>
    </a>
    <a href="/music.html">
      <div class="inner">
        <div class="thumb"><img src="/files/music_thumb.png"></div>
        <h3>Music</h3>
        <div class="description">by Carlos Rodriguez</div>
      </div>
    </a>
  </div>
</div>

<hr>
