<section class="sidebar">
  <nav role="navigation" class="main-nav">
    <h3>on <a href="{{site.url}}/index.html">s8f.org</a>:</h3>
    <ul>
      {% if page.url != "/index.html" %}<li><a href="{{site.url}}/index.html">carlos&rsquo;s blog</li>{% endif %}
      <li><a href="{{site.url}}/salty.html">salty, pubkey crypto CLI</a></li>
      <li><a href="{{site.url}}/motley.html">motley node.js framework</a></li>
      <li><a href="{{site.url}}/about.html">about s8f.org</a></li>
      <li><a href="{{site.url}}/atom.xml">atom feed</a></li>
    </ul>

    <h3>on the internet:</h3>
    <ul>
      <li><a href="https://github.com/carlos8f">github</a></li>
      <li><a href="https://twitter.com/carlos8f">twitter</a></li>
      <li><a href="https://keybase.io/carlos8f">keybase</a></li>
      <li><a href="/gpg.txt">GPG: 5FBB 2F98 3862 1AFF</a></li>
      <li><a href="/salty.txt">Salty</a>: <a href="https://twitter.com/carlos8f/status/732102242354880512">732102242354880512</a></li>
      <li><a href="https://www.reddit.com/user/carlos8f">reddit</a></li>
      <li><a href="https://www.coinbase.com/carlos8f">coinbase</a></li>
      <li><a href="http://soundcloud.com/carlos8f">musical junkyard</a></li>
      <ii><a href="http://youtube.com/user/finallyinsane">video junkyard</a></ii>
      <li><a href="bitcoin:1AAnLu6YQBEg7ivS3G89TrUMZNgS62QcBS">bitcoin</a></li>
      <li><script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'&'+'#'+'9'+'7'+';'+'i'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'c'+
      'a'+'&'+'#'+'1'+'1'+'4'+';'+'l'+'o'+'s'+'%'+'&'+'#'+'5'+'2'+';'+'&'+'#'+'4'+'8'+';'+'s'+'8'+'&'+'#'+
      '1'+'0'+'2'+';'+'&'+'#'+'4'+'6'+';'+'o'+'r'+'g'+"'"+'>email<'+'/'+'a'+'>');
        </script><noscript>[Turn on JavaScript to see the email address]</noscript></li>
    </ul>
  </nav>
</section>
