<section class="sidebar">
  <nav role="navigation" class="main-nav">
    <h3><a href="/">s8f</a>.org <i class="fa fa-fw fa-floppy-o"></i></h3>
    <ul>
      <li><a href="{{site.url}}/zenbot.html">zenbot Bitcoin trading bot</a> <i class="fa fa-fw fa-line-chart"></i></li>
      <li><a href="{{site.url}}/salty.html">Salty next-gen pubkey crypto</a> <i class="fa fa-fw fa-lock"></i></li>
      <li><a href="{{site.url}}/motley.html">Motley Node.js framework</a> <i class="fa fa-fw fa-laptop"></i></li>
      <li><a href="{{site.url}}/music.html">Music by Carlos Rodriguez</a> <i class="fa fa-fw fa-music"></i></li>
      <li><a href="{{site.url}}/about.html">about s8f.org</a> <i class="fa fa-fw fa-question-circle-o"></i></li>
      <li><a href="{{site.url}}/atom.xml">atom feed</a> <i class="fa fa-fw fa-rss"></i></li>
    </ul>

    <h3>www</h3>
    <ul>
      <li><a href="https://github.com/carlos8f">github</a> <i class="fa fa-fw fa-github-alt"></i></li>
      <li><a href="https://twitter.com/carlos8f">twitter</a> <i class="fa fa-fw fa-twitter"></i></li>
      <li><a href="https://keybase.io/carlos8f">keybase</a> <i class="fa fa-fw fa-key"></i></li>
      <li><a href="https://www.reddit.com/user/carlos8f">reddit</a> <i class="fa fa-fw fa-reddit-alien"></i></li>
      <li><a href="https://www.coinbase.com/carlos8f">coinbase</a> <i class="fa fa-fw fa-btc"></i></li>
      <li><a href="https://soundcloud.com/carlos8f">soundcloud</a> <i class="fa fa-fw fa-soundcloud"></i></li>
      <li><a href="https://youtube.com/user/finallyinsane">youtube</a> <i class="fa fa-fw fa-youtube"></i></li>
    </ul>

    <h3>contact</h3>
    <ul>
      <li>Salty <a href="https://twitter.com/carlos8f/status/746202319075717120">746202319075717120</a> <i class="fa fa-fw fa-user"></i></li>
      <li>miniLock <a href="https://twitter.com/carlos8f/status/742110679432237056">742110679432237056</a> <i class="fa fa-fw fa-user"></i></li>
      <li>GPG <a href="{{site.url}}/gpg.txt">GPG: 5FBB 2F98 3862 1AFF</a> <i class="fa fa-fw fa-user"></i></li>
      <li><a href="bitcoin:187rmNSkSvehgcKpBunre6a5wA5hQQop6W">bitcoin</a> <i class="fa fa-fw fa-btc"></i></li>
      <li><script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'&'+'#'+'9'+'7'+';'+'i'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'c'+
      'a'+'&'+'#'+'1'+'1'+'4'+';'+'l'+'o'+'s'+'%'+'&'+'#'+'5'+'2'+';'+'&'+'#'+'4'+'8'+';'+'s'+'8'+'&'+'#'+
      '1'+'0'+'2'+';'+'&'+'#'+'4'+'6'+';'+'o'+'r'+'g'+"'"+'>email<'+'/'+'a'+'>');
        </script><noscript>[Turn on JavaScript to see the email address]</noscript> <i class="fa fa-fw fa-envelope-o"></i></li>
    </ul>
  </nav>
</section>
