body {
  background: top center repeat-y white;
  color: black;
  line-height: 1.7em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  font-weight: normal;
}
#page {
  background-color: white;
  margin: 0 auto;
  width: 50em;
}
#header {
  background: black center no-repeat;
  height: 230px;
  text-align: center;
}
#header .section {
  height: 254px;
  padding-top: 80px;
}
#header h1 {
  display: none;
}
#header #name-and-slogan {
  color: gray;
}
#site-name {
  display: none;
}
#content {
  margin: 10px 30px;
}
.one-sidebar #content {
  float: left;
  margin-right: 0;
  width: 30em;
}
#sidebar-first {
  float: right;
  margin: 10px 30px;
  width: 10em;
}
#sidebar-first .section {
  padding: 2em;
}
a.feed-icon {
  display: none;
}
div.user-picture {
  float: right;
}
div.user-picture img {
  width: 50px;
  height: 50px;
}
a#main-content {
  display: none;
}
div.breadcrumb {
  margin: 2em 3em;
}
div.submitted {
  color: gray;
}
#footer {
  border-top: 1px solid gray;
  font-size: 80%;
  padding: 2em 3em;
}
#navigation {
  background: black;
  height: 3em;
}
#navigation ul {
  margin: 0;
  float: left;
}
#navigation li {
  padding: 0;
}
#navigation li a {
  display: block;
  float: left;
  line-height: 3em;
  padding: 0 2em;
  height: 3em;
  color: white;
  font-weight: bold;
}
#navigation li a.active {
  background-color: #444;
}
#navigation li a:hover {
  background-color: #222;
}
#navigation h2 {
  display: none;
}
#content a {
  text-decoration: underline;
  color: gray;
}
#content a:hover {
  color: black;
}
.submitted {
  font-size: 80%;
}