body {
  margin: 0;
  padding: 0;
  background: top center repeat-y white;
  color: black;
  line-height: 1.7em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  font-weight: normal;
  color: #ff7700;
}
#page {
  background-color: white;
  margin: 0 auto;
  width: 50em;
}
#header {
  text-align: center;
}
#logo {
  background: black url(reactor-logo.jpg) center no-repeat;
  display: block;
  margin: auto;
  width: 272px;
  height: 236px;
}
a:hover#logo {
  background-color: gray;
}
#logo img {
  display: none;
}
#header h1 {
  display: none;
}
#header #name-and-slogan {
  color: gray;
  margin-bottom: 2em;
}
#site-name {
  display: none;
}
#content {
  margin: 10px 30px;
}
#content h1, #content h2 {
  margin-bottom: .2em;
}
.one-sidebar #content {
  float: left;
  margin-right: 0;
  width: 30em;
}
#sidebar-first {
  float: right;
  margin: 10px 30px;
  width: 10em;
}
#sidebar-first .section {
  padding: 2em;
}
a.feed-icon {
  display: none;
}
div.user-picture {
  float: right;
}
div.user-picture img {
  width: 50px;
  height: 50px;
}
a#main-content {
  display: none;
}
div.breadcrumb {
  font-size: 80%;
  color: gray;
}
div.submitted {
  color: gray;
}
#footer {
  font-size: 80%;
  padding-top: 2em;
  text-align: center;
}
#navigation {
  background: #eee;
  height: 3em;
}
#navigation ul {
  margin: 0;
  float: left;
}
#navigation li {
  padding: 0;
}
#navigation li a {
  display: block;
  float: left;
  line-height: 3em;
  padding: 0 2em;
  height: 3em;
  color: #888;
  font-weight: bold;
}
#navigation li a.active {
  background-color: #444;
  color: white;
}
#navigation li a:hover {
  color: black;
}
#navigation li a.active:hover {
  color: white;
}
#navigation h2 {
  display: none;
}
#page a {
  text-decoration: none;
  color: #666;
  background-color: #eee;
}
#page a:hover {
  color: black;
}
.submitted {
  font-size: 80%;
  line-height: 1;
}
.submitted a {
  color: black;
}
.submitted a:hover {
  color: gray;
}
div.codeblock, pre {
  background: none repeat scroll 0 0 #F8F8F8;
  border-color: #E7E5DC;
  border-style: solid;
  border-width: 1px 0 4px 6px;
  color: black;
  font-family: "Consolas","Courier New",Courier,mono;
  font-size: 110%;
  letter-spacing: 0;
  line-height: 1.3em;
  overflow: auto;
  padding: 1em;
}
.field-type-image {
  float: right;
  margin: 0 0 2em 2em;
}
.node {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 1em;
}
#content .node .links {
  display: none;
}
code {
  background-color: #ffeeda;
}
div.codeblock code {
  background-color: inherit;
}
.front #header {
  margin-top: 30px;
}
.not-front #header {
  float: left;
}
.not-front #name-and-slogan {
  display: none;
}
.not-front #logo {
  background-image: url(reactor-logo-small.jpg);
  margin: 0 1em 0 0;
  height: 70px;
  width: 81px;
}
