.ip_address {
  font-size: 300%;
  padding: 2em 0;
  text-align: center;
}
.ip_address .geoip {
  margin-top: 1em;
  font-size: 30%;
}
.ip_address .attribution {
  margin-top: 5em;
  font-size: 20%;
}
