<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="author" content="{{ site.author.name }}">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/screen.css" media="screen">
</head>

<body>
  <header id="banner">
    <div id="banner-inner">
      <p>{{ page.date | date_to_string }}</p>
      <h2><a href="{{ site.baseurl}}">{{ site.title }}</a> / <a href="{{ site.baseurl }}{{ page.category }}/">{{ page.category }}</a> / {{ page.title }}</h2>
    </div>
  </header>

  <section id="content">
    <div id="content-inner">
      {{ content }}

      {% if page.tags != empty %}
      <p class="tags">tags:
        {% for tag in page.tags %}<a href="{{ site.baseurl }}tags/{{ tag }}.html">{{ tag }}</a>
        {% endfor %}
      </p>
      {% endif %}
    </div>
  </section>

  {% include footer.html %}
</body>
</html>